body {
  font-family: Arial, sans-serif;
  background-image: url('https://github.com/SadeemAli6/My-CV/blob/main/pexels-lum3n-44775-399161.jpg?raw=true'); /* رابط الصورة */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f4f4; /* لون احتياطي في حال عدم تحميل الصورة */
  text-align: right;
  direction: rtl;
  padding: 20px;
}